<div class="text-center container">
  <div class="mat-display-3 mat-body-2 bg-success">materail button</div>
  <div>
<button mat-raised-button>Angular button</button>

<button mat-flat-button>click me</button>
<button mat-stroked-button>click me</button>
<div>
<button mat-fab>fab</button>
<button mat-mini-fab>fab mini</button>
<button mat-icon-button>icon</button>
</div>
<button color="primary" mat-button>primary</button>
<button color="accent" mat-button>accend</button>
<button color="warn" disabledRipple mat-button>warn</button>
<button color="primary" mat-raised-button>primary</button>
<button color="accend" mat-raised-button>accend</button>
<button color="warn" mat-raised-button>warn</button>
<div>
  <hr>
<div class="mat-display-3 mat-b0dy-2 bg-success">material button toggle</div>
<div>
  <mat-button-toggle #toggleBtn checked disableRipple>toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">react</mat-button-toggle>
    <mat-button-toggle value="vue">vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>

</div>

</div>
<hr>
<div class="mat-display-3 mat-body-3 bg-success">material text display sizes</div>
<div class="mat-display-4">display 4</div>
<div class="mat-display-3">display 3</div>
<div class="mat-display-2">display 2</div>
<div class="mat-display-1">display 1</div>
<hr>
<div class="mat-display-3 mat-body-2 bg-success">material heading text</div>
<div class="mat-headline">heading for h1</div>
<div class="mat-title">heading for h2</div>
<div class="mat-subheading-2">heading for h3</div>
<div class="mat-subheading-1">heading  for h4</div>
<hr>

<div class="mat-display-3 mat-body-2 bg-success">material body and text captions </div>

<div class="mat-body-1">for body text</div>
<div class="mat-body-2">for bold body text</div>
  <div class="mat-caption">for caption text</div>

<div class="mat-display-3 mat-body-2 bg-success">materail typography class</div>

<div class="mat-typography">
  <h1>hello world</h1>
  <h2>hello world</h2>
  <h3>hello world</h3>
  <h4>hello world</h4>
  <h5>hello world</h5>
</div>

<div class="mat-display-3 mat-body-3 bg-success">material icons</div>
<div>
  <mat-icon>grade</mat-icon>
</div>

<div class="mat-display-3 mat-body-2 bg-success">material badges</div>
<div>
  <span matBadge="4">Notifications</span>
</div>
<div>
  <div>
  <span matBadge="10">Messages</span>
</div>
<div class="mat-display-3 bg-success">bagde position</div>
  <div>
    <span matBadge="10" matBadgePosition="after">Messages</span>
  </div>
  <div>
      <span matBadge="10" matBadgePosition="before">Messages</span>
    </div>
    <div>
        <span matBadge="10" matBadgePosition="below after">Messages</span>
      </div>
      <div>
          <span matBadge="10" matBadgePosition="above before">Messages</span>
        </div>
      
      <div class="mat-display-3 bg-success">Material bagde sizes</div>
      <div>
        <span matBadge='3' matBadgeSize="small">notifications</span>
      </div>
      <div>
          <span matBadge='3' matBadgeSize="large">notifications</span>
      </div>
      
      <div><span matBadge='3' matBadgeSize="medium">notifications</span>

      </div>
      <hr>
      <div class="mat-display mat-body-3 bg-success">material spinner</div>
      <mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
      <button (click)="loadData()">load Data</button>
      <hr>
      <div class="mat-display-3 mat-body-2 bg-success">material navbar</div>
      <div>
      <mat-toolbar color="primary" class="navbar">
        <div>SarkTechno</div>
        <div>
          <span>Home</span>
          <span>About</span>
          <span>Services</span>
        </div>
      </mat-toolbar>
    </div>
<hr>
      <div class="mat-display-3 mat-body-2 bg-success">material Sidenav</div>
<div>
<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('opened')" (closed)="log('closed')" mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
  <mat-sidenav-content>main
    <button (click)="opened=!opened">Toggle opened</button>
    <button (click)="sidenav.open()">open</button>
    <button (click)="sidenav.close()">close</button>
    <button (click)="sidenav.toggle()">toggle</button>
  </mat-sidenav-content>
  
</mat-sidenav-container>
      </div>
      <div class="mat-display-3 mat-body-2 bg-success">Material Tabs</div>
      <div>
        <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
          <mat-tab label="angular">angular content</mat-tab>
          <mat-tab label="react">Reactive Content</mat-tab>
          <mat-tab label="vue">Vue Content</mat-tab>
         
        </mat-tab-group>
        {{tabRef.selectedIndex}}
      </div>


      <div class="mat-display-3 mat-body-2 bg-success">Horizontal material stepper</div>
      <div>
        <mat-horizontal-stepper>
          <mat-step label="personal - info">
            <p>Personal Information</p>
            <form action="">
              <fieldset class="col-sm-8">
                
                <div class="form-group">
                  <label for="firstname">FirstName</label>
                  <input type="text" id="firstname" class="form-control">
                </div>
                <div class="form-group">
                  <label for="lastname">LastName</label>
                  <input type="text" id="lastname" class="form-control">
                </div>
                <div>
                  <label for="email">Email</label>
                  <input type="text" id="email" class="form-control">
                </div>
                <button mat-button matStepperPrevious class="btn btn-danger">Cancel</button>
                <button mat-button matStepperNext class="btn btn-success">Next</button>
              </fieldset>
            </form>
          </mat-step>

          <mat-step label="credit card validation">
            <p>Credit Card information</p>
            <div>
                <button class="btn btn-warning" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-success" mat-button matStepperNext>Next</button>
              </div>
          </mat-step>

          <mat-step label="forms">
            <p>Check Out Table</p>
            <div>
              
              <table>
                <fieldset class="col-sm-12">
                <thead>
                  <td>Items</td>
                  <td>Quantity</td>
                  <td>UP price</td>
                  <td>Buying Price</td>
                </thead>
                <tbody>
                  <tr>
                  phone
                  <td>1</td>
                  <td>1000</td>
                  <td>5000</td>
                  </tr>
                  <tr>
                  watch
                  <td>1</td>
                  <td>1000</td>
                  <td>6000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                
                    <tr>
                      total
                      <td>2</td>
                      <td>2000</td>
                      <td>11000</td>
                    </tr>
                  
                </fieldset>
              </table>
            

              <button class="btn btn-warning" mat-button matStepperPrevious>Back</button>
              <button class="btn btn-success" mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
       
      </div>
      <div class="mat-display-3 mat-body-3">Material form validation</div>
      
</div>
</div>